.auth-container {
  display: flex;
  margin-top: 5px;
}

.auth-step-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 5px;
  font-size: 12px;
  padding: 3px;
  border: 1px solid var(--transparent);
  border-radius: 5px;
}

.auth-screen-quit-button-container {
  position: absolute;
  bottom: 16px;
  right: -14px;
}
